body {
    height: 100%;
    width: 100%;
    background: #080f1a;
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    box-sizing: border-box;
}

.glass {
    height: 800px;
    width: 600px;
    background: #122139;
    border-radius: 300px 300px 0px 0px;
    max-width: 100%;
}

.glass:before {
    content: "";
    height: 40px;
    width: 40px;
    transform-origin: center;
    border: 25px solid #122139;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 20px);
    top: -74px;
}

.glass:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    background: #a52a2a;
    top: 100%;
    left: 0;
}

.shine {
    width: 26px;
    height: 330px;
    background: white;
    opacity: 0.2;
    position: absolute;
    left: 85%;
    top: 200px;
    border-radius: 100px;
    z-index: 10;
}

.shine:before {
    content: "";
    width: 26px;
    height: 40px;
    position: absolute;
    background: white;
    top: 365px;
    border-radius: 100px;
}

.petals>div {
    position: absolute;
    background: #d52d58;
    width: 85px;
    height: 120px;
    top: 200px;
    transition: all 0.5s ease-out;
}

.petals>div:nth-child(1) {
    border-radius: 15px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, 1);
    left: calc(50% - 42.5px);
    top: 200px;
    background: #d52d58;
}

.petals>div:nth-child(2),
.petals>div:nth-child(4),
.petals>div:nth-child(6) {
    background: #b81b43;
    left: calc(50% - 55px);
    border-radius: 0px 50px 0px 50px;
    transform-origin: bottom right;
}

.petals>div:nth-child(3),
.petals>div:nth-child(5),
.petals>div:nth-child(7) {
    background: #b81b43;
    left: calc(50% - 30px);
    border-radius: 50px 0px 50px 0px;
    transform-origin: bottom left;
}

.petals>div:nth-child(2) {
    z-index: 5;
    background: #ab1a3f;
    top: 218px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .5);
    animation: bloom2 3s ease-in-out;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(3) {
    z-index: 4;
    background: #ab1a3f;
    top: 218px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .5);
    animation: bloom3 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(4) {
    z-index: 3;
    background: #b81b43;
    top: 213px;
    height: 135px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .5);
    animation: bloom4 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(5) {
    z-index: 2;
    background: #b81b43;
    top: 213px;
    height: 135px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .5);
    animation: bloom5 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(6) {
    z-index: 1;
    background: #c9204b;
    top: 200px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .3);
    animation: bloom6 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(7) {
    z-index: 0;
    background: #c9204b;
    top: 200px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 148, 184, .3);
    animation: bloom7 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.deadPetals>div {
    position: absolute;
    background: #d52d58;
    width: 20px;
    height: 15px;
    top: 200px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px 0px 30px rgba(245, 148, 184, .5);
    transition: all 0.5s ease-out;
}

.deadPetals>div:nth-child(1) {
    left: 10%;
    transform: rotate(-30deg);
    animation: falling 20s 4s ease-in-out infinite;
}

.deadPetals>div:nth-child(2) {
    left: 30%;
    transform: rotate(-30deg);
    animation: falling 20s 8s ease-in-out infinite;
}

.deadPetals>div:nth-child(3) {
    left: 50%;
    transform: rotate(-30deg);
    animation: falling 20s 12s ease-in-out infinite;
}

.deadPetals>div:nth-child(4) {
    left: 70%;
    transform: rotate(-30deg);
    animation: falling 20s 16s ease-in-out infinite;
}

.leaves>div:nth-last-child(1) {
    position: absolute;
    width: 55px;
    height: 30px;
    background: #338f37;
    top: 334px;
    left: calc(50% - 27.5px);
    border-radius: 100px;
}

.leaves>div:nth-child(1) {
    position: absolute;
    width: 15px;
    height: 390px;
    background: #054c05;
    top: 308px;
    left: calc(50% - 7.5px);
    border-radius: 0 0 100px 100px;
}

.leaves>div:nth-child(2) {
    position: absolute;
    width: 60px;
    height: 100px;
    top: 53px;
    border-radius: 10px 80px 40px 80px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(-30deg);
    top: 412px;
    left: calc(50% - 30px - 24px);
    box-shadow: inset 10px 10px #066406;
}

.leaves>div:nth-child(3) {
    position: absolute;
    width: 60px;
    height: 100px;
    top: 53px;
    border-radius: 80px 1px 80px 40px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(30deg);
    top: 412px;
    left: calc(50% + 30px - 24px);
    box-shadow: inset -10px 10px #066406;
}

.thorns>div {
    height: 40px;
    width: 5px;
    background: #338f37;
    position: absolute;
}

.thorns>div:nth-child(1) {
    left: calc(50% - 2.5px);
    top: 322px;
    transform: rotate(50deg);
}

.thorns>div:nth-child(2) {
    left: calc(50% - 2.5px);
    top: 458px;
    transform: rotate(40deg);
}

.thorns>div:nth-child(3) {
    left: calc(50% - 7.5px);
    top: 500px;
    transform: rotate(-30deg);
}

.thorns>div:nth-child(4) {
    left: calc(50% - 5px);
    top: 557px;
    transform: rotate(-50deg);
}

.texto {
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 800px;
    font-size: 25px;
    width: 100%;
    transform: translateY(-50%);
}

@keyframes bloom1 {
    100% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom2 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom3 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom4 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom5 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom6 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes bloom7 {
    0% {
        top: 200px;
        height: 120px;
    }
}

@keyframes falling {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        top: 700px;
        opacity: 0;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0px 0px 0px rgba(245, 148, 184, 1);
    }

    40% {
        box-shadow: 0px 0px 60px rgba(245, 148, 184, 1);
    }

    100% {
        box-shadow: 0px 0px 0px rgba(245, 148, 184, 1);
    }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .glass {
        height: 60px;
        width: 400px;
    }

    .petals>div {
        width: 60px;
        height: 80px;
    }

    .shine {
        top: 150px;
    }

    .texto {
        font-size: 20px;
        margin-top: 500px;
    }
}
